/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*font size is in percents to not overwrite user browser settings. It is 62,5% because we want it to be calculated to 10px (100% / default font size 16px) */
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  box-sizing: border-box;
  line-height: 1.6;
  font-weight: 300;

  font-size: 2rem;
  font-family: inherit;
}

/* NAV */

.nav--logo {
  height: 8rem;
}

nav {
  border-bottom: 1px solid rgba(90, 93, 108, 0.3);
  /* width: 100vw; */
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

nav ul {
  display: flex;

  justify-content: flex-end;
  list-style: none;
}

nav li {
  padding: 0 2rem;
}

/* HEADER */

header {
  color: #5b5e6d;
  font-size: 1.8rem;
  padding: 5rem;

  display: flex;
  flex-direction: row-reverse;

  justify-content: space-around;
  align-items: center;
}

header img {
  height: 40vw;
  order: 3;
}

.header__title * {
  margin-bottom: 1.6rem;

  display: flex;
}

.header__title h1 {
  font-size: 4.6rem;
}

.header__login * {
  margin-bottom: 1.6rem;
}

.header__left-side {
  padding: 2rem;
}

.heading {
  font-family: "Times New Roman", Times, serif;
  color: #323648;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
}

.button {
  border: none;
  width: 100%;
  background-color: rgb(63, 70, 173);
  color: white;
  font-size: inherit;
  padding: 2rem 0;
  border-radius: 0.4rem;

  margin-bottom: 1.6rem;
}

/* MAIN SECTION */

main {
  background-color: rgb(235, 235, 235);
}

/* !!! SECTION PARTNERS !!!*/

.section__partners {
  padding: 3rem;
  display: flex;

  flex-direction: column;
}

.section__partners--text {
  display: flex;

  flex-direction: column;
  align-items: center;

  margin-bottom: 3rem;
}

.section__partners--logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.section__partners--logo * {
  /* width: 80%; */
}

.section__partners--logo {
  padding: 2rem 0;
  width: 80%;
  border-bottom: 1px solid rgba(91, 94, 109, 0.2);
  height: 144px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section__partners--text * {
  margin-bottom: 2rem;
}

.section__partners--cta {
  border: none;
  padding: 2rem 4rem;
  border-radius: 3px;
  color: rgb(29, 29, 110);
  border: 1px solid rgb(29, 29, 110);

  font-size: 1.5rem;
  font-weight: 700;
}

.section__trial{
    margin: 0 auto;
    padding: 3rem 0;
}

/* SECTION FOOTER */

.section__footer {
  font-size: 2rem;
}

.section__footer--logo{
    width: 15rem;
    grid-column: 1/-1;
}

.section__footer--list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem;
}

.section__footer--list {
  margin-bottom: 3rem;
}

.section__footer--list :first-child {
  color: rgb(58, 58, 58);
  font-weight: 700;
}

.section__footer--list li {
  color: rgb(70, 70, 70);
  list-style: none;
}

.section__footer--list li:not(:last-child) {
  margin-bottom: 1rem;
}

.section__footer--tnc {
  background-color: rgb(235, 235, 235);
}

/* !!!MEDIA QUERIES!!! */

@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  header {
    display: flex;

    flex-direction: column;
  }

  header,
  nav {
    /* padding: 2rem 3rem; */
  }

  header img {
    width: 80vw;
    height: 100%;
    order: 3;
  }

  .header__title {
    order: 1;
  }

  .header__login {
    order: 2;
  }

  /* SECTION PARTNERS */

  .section__partners--logos {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .section__partners--cta {
    width: 80%;
  }
}
